:root {
  --ltgreen: #8badaa;
  --dkgreen: #3c5148;
  --blkgreen: #273b33;
  --grey: #dfe9ef;
  --dkgrey: #bbc6cf;
  --cream: #ece3da;
  --brown: #c9b4a0;
  --dkbrown: #845c3d;
}
/*
---------- MAIN BODY ----------
*/
body {
  background-color: var(--cream);
}

.box {
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.6);
}

/*
---------- HEADER ----------
*/

.header {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: var(--dkgreen);
  margin: 3px;
}

.date {
  font-size: 18px;
}

header {
  padding: 15px;

  margin: auto;

  justify-items: center;

  width: 450px;

  align-self: center;
  background-color: var(--ltgreen);
  border-radius: 12px;
  border: 8px solid var(--dkgreen);
}

header img {
  height: 70px;
  padding: 15px;
  filter: invert();
  opacity: 85%;
  display: flex;
  float: left;
}
/*
----- HEADER TITLE BOX -----
*/
.title-box {
  margin: 9px;
  margin-left: auto;
  margin-right: auto;

  padding: 0px;

  display: flex;
  justify-content: center;
  background-color: var(--grey);

  border-radius: 12px;
}

/*
---------- Main ----------
*/
main {
  padding-top: 4px;
  padding-bottom: 4px;

  margin-right: auto;
  margin-left: auto;

  height: max-content;
  min-height: 200px;

  width: 550px;
  min-width: 550px;

  background-color: var(--ltgreen);
  border: 8px solid var(--dkgreen);
  border-radius: 12px;
}

section {
  margin: 20px;
}

/*
---------- footer ----------
*/

footer {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

  padding-top: 8px;
  padding-bottom: 7px;
  padding: 7px;

  background-color: var(--ltgreen);
  padding: 10px;
  border-radius: 12px;

  margin-left: auto;
  margin-right: auto;

  display: flex;

  height: max-content;
  width: max-content;

  justify-content: center;

  border: 6px solid var(--dkgreen);
}

footer button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;

  text-align: left;
  color: var(--dkgreen);
  background-color: var(--grey);

  padding: 6px 8px 6px 8px;

  margin: 10px 5px 10px 5px;

  border: 3px solid var(--dkgrey);
  border-radius: 5px;
  cursor: pointer;
}

footer button:hover {
  text-decoration: underline 3px;
  color: var(--ltgreen);
  border: 3px solid var(--dkgreen);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
footer p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;

  margin: auto;

  padding: 7px;
  color: var(--ltgrey);
}
